@import url('https://fonts.googleapis.com');
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@100;400&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    background-color: #000;
}
*::-webkit-scrollbar {
    display: none;
}

body
{
    min-height: 100vh;
    background: linear-gradient(#191414,#191414);
}
header
{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
}

header u1
{
    display: flex;
    justify-content: center;
    align-items: center;
}
header u1 li
{
    list-style: none;
    margin-left: 10px;
}
header u1 li a, u1 li a i
{
    text-decoration: none;
    padding: 6px 15px;
    color: #1ed160;
    border-radius: 20px;
}
header u1 li a:hover, 
header u1 li a.active
{
    background: #1db954;
    color: black;
}

header u3
{
    display: flex;
    justify-content: center;
    align-items: center;
}
header u3 li
{
    list-style: none;
    margin-left: 100px;
    margin-top: 100px;
}
header u3 li a
{
    text-decoration: none;
    padding: 6px 15px;
    color: #1db954;
    border-radius: 20px;
}
header u3 li a:hover, 
header u3 li a.active
{
    background: #fff;
    color: rgb(0, 0, 0)
}



section{
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#text
{
    font-family: 'Raleway', sans-serif;
    position: absolute;
    right: 450px;
    color: #1db954;
    white-space: nowrap;
    font-size: 5vw;
    z-index: 9;
}


.sec {
    position: relative;
    padding: 100px;
    }
.sec h2{
    font-size: 3.5em;
    font-weight: lighter;
    margin-bottom: 10px;
    color: #1db954;
}
.sec h4{
    font-size: 1.2em;
    font-weight: lighter;
    margin-bottom: 10px;
    color: #1db954;
}
.sec a{

    font-weight: lighter;
    margin-bottom: 10px;
    color: white;
}

.sec {
    position: relative;
    padding: 100px;
    }
.sec p{
    font-size: 1.2em;
    font-weight: lighter;
    margin-bottom: 10px;
    color: #fff;
}
.sec p2{
    font-weight: lighter;
    margin-bottom: 10px;
    color: #fff;
}
.sec p3{
    font-weight: lighter;
    margin-bottom: 10px;
    color: #fff;
    text-justify: inter-word;
}

.sec a:hover, 
.sec a.active
{
    color: #1db954;
}

header ul
{
    position: fixed;
    bottom: 30px;
    left: 0;
    display: table-column;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
}
header ul li
{
    list-style: none;
    margin-left: 20px;
    margin-bottom: 30px;;
}
header ul li a
{
    text-decoration: none;
    padding: 6px 15px;
    color: #1ed160;
    border-radius: 20px;
}
header ul li a:hover, 
header ul li a.active
{
    background: #1db954;
    color: black;
}


header ur
{
    position: fixed;
    bottom: 30px;
    right: 30px;
    display: table-column;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
}
header ur li
{
    list-style: none;
    margin-left: 20px;
    margin-bottom: 20px;;
}
header ur li a
{
    text-decoration: none;
    padding: 6px 15px;
    color: #1ed160;
    border-radius: 20px;
}

i{
    background-color: transparent;
}

header ur li a:hover
{
    transform: scale(2);
    background-color: #1ed160;
    color: black;
}

#seca
{
    animation: ease-in 1s;
}



#menu-outer {
	height: 84px;
}

.table {
	display: table;  
	margin: 0 auto;
}

ul#horizontal-list {
    color: white;
	min-width: 696px;
	list-style: none;
    padding-right: 100px;
	padding-top: 20px;
	}
	ul#horizontal-list li {
		display: inline;
        padding: 10px 30px;
	}

#secc p
{
    color: #1db954;
}

.project-containers{
    width: 100%;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn{

    padding: 2rem;
    background: rgba(77, 77, 77, 1);;
    border: 0;
    outline: none;
    cursor: pointer;
    font-size: 22px;
    font-weight: 500;
    border-radius: 30px;
    box-shadow:  0 5px 5px rgba(0, 0, 0, 0.2);

}
.project-popup{
    width: 400px;
    height: 400px;

    background: rgba(41, 41, 41, 1);
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color: #333;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
    overflow-y: scroll;
}
.project-popup::-webkit-scrollbar {
    display: none;
}

.open-popup{
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
}
.project-popup h3{
    background-color: rgba(41, 41, 41, 1);
    color: white;
    font-size: 38px;
    font-weight: 500;
    margin: 30px 0 10px;
}
.project-popup p{
    background-color: rgba(41, 41, 41, 1);
    color: white;
    text-align: left;
}
.project-popup button{
    width: 100%;
    margin-top: 50px;
    padding: 10px 0;
    background: white;
    color:#1db954;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}
.project-popupa{
    width: 400px;
    height: 400px;
    background: rgba(41, 41, 41, 1);
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color: #333;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
    overflow-y: scroll;
}
.project-popupa::-webkit-scrollbar {
    display: none;
}

.open-popupa{
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
}
.project-popupa h3{
    background-color: rgba(41, 41, 41, 1);
    color: white;
    font-size: 38px;
    font-weight: 500;
    margin: 30px 0 10px;
}
.project-popupa p{
    background-color: rgba(41, 41, 41, 1);
    color: white;
    text-align: left;
}
.project-popupa button{
    width: 100%;
    margin-top: 50px;
    padding: 10px 0;
    background: white;
    color:#1db954;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.project-popupb{
    width: 400px;
    height: 400px;
    background: rgba(41, 41, 41, 1);
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color: #333;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
    overflow-y: scroll;
}
.project-popupb::-webkit-scrollbar {
    display: none;
}
.open-popupb{
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
}
.project-popupb h3{
    background-color: rgba(41, 41, 41, 1);
    color: white;
    font-size: 38px;
    font-weight: 500;
    margin: 30px 0 10px;
}
.project-popupb p{
    background-color: rgba(41, 41, 41, 1);
    color: white;
    text-align: left;
}
.project-popupb button{
    width: 100%;
    margin-top: 50px;
    padding: 10px 0;
    background: white;
    color:#1db954;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.project-popupc{
    width: 400px;
    height: 400px;
    background: rgba(41, 41, 41, 1);
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color: #333;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
    overflow-y: scroll;
}
.project-popupc::-webkit-scrollbar {
    display: none;
}

.open-popupc{
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
}
.project-popupc h3{
    background-color: rgba(41, 41, 41, 1);
    color: white;
    font-size: 38px;
    font-weight: 500;
    margin: 30px 0 10px;
}
.project-popupc p{
    background-color: rgba(41, 41, 41, 1);
    color: white;
    text-align: left;
}
.project-popupc button{
    width: 100%;
    margin-top: 50px;
    padding: 10px 0;
    background: white;
    color:#1db954;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}