@import url('https://fonts.googleapis.com');
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@100;400&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}
body
{
    min-height: 100vh;
    background: linear-gradient(#191414,#191414);
}
header
{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
}

header u1
{
    display: flex;
    justify-content: center;
    align-items: center;
}
header u1 li
{
    list-style: none;
    margin-left: 10px;
}
header u1 li a
{
    text-decoration: none;
    padding: 6px 15px;
    color: #1ed160;
    border-radius: 20px;
}
header u1 li a:hover, 
header u1 li a.active
{
    background: #1db954;
    color: black;
}

header u3
{
    display: flex;
    justify-content: center;
    align-items: center;
}
header u3 li
{
    list-style: none;
    margin-left: 100px;
    margin-top: 100px;
}
header u3 li a
{
    text-decoration: none;
    padding: 6px 15px;
    color: #1db954;
    border-radius: 20px;
}
header u3 li a:hover, 
header u3 li a.active
{
    background: #fff;
    color: rgb(0, 0, 0)
}



section{
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#text
{
    font-family: 'Raleway', sans-serif;
    position: absolute;
    right: 450px;
    color: #1db954;
    white-space: nowrap;
    font-size: 5vw;
    z-index: 9;
}


.sec {
    position: relative;
    padding: 100px;
    }
.sec h2{
    font-size: 3.5em;
    font-weight: lighter;
    margin-bottom: 10px;
    color: #1db954;
}
.sec h4{
    font-size: 1.2em;
    font-weight: lighter;
    margin-bottom: 10px;
    color: #1db954;
}
.sec a{

    font-weight: lighter;
    margin-bottom: 10px;
    color: white;
}

.sec {
    position: relative;
    padding: 100px;
    }
.sec p{
    font-size: 1.2em;
    font-weight: lighter;
    margin-bottom: 10px;
    color: #fff;
}
.sec a:hover, 
.sec a.active
{
    color: #1db954;
}

header ul
{
    position: fixed;
    bottom: 30px;
    left: 0;
    display: table-column;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
}
header ul li
{
    list-style: none;
    margin-left: 20px;
    margin-bottom: 30px;;
}
header ul li a
{
    text-decoration: none;
    padding: 6px 15px;
    color: #1ed160;
    border-radius: 20px;
}
header ul li a:hover, 
header ul li a.active
{
    background: #1db954;
    color: black;
}


header ur
{
    position: fixed;
    bottom: 30px;
    right: 30px;
    display: table-column;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
}
header ur li
{
    list-style: none;
    margin-left: 20px;
    margin-bottom: 20px;;
}
header ur li a
{
    text-decoration: none;
    padding: 6px 15px;
    color: #1ed160;
    border-radius: 20px;
}
header ur li a:hover, 
header ur li a.active
{
    background: #1db954;
    color: black;
}

#seca
{
    animation: ease-in 1s;
}